.skills{
    background: url("../../backgrounds/city.jpg");
    background-color: crimson;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
}

.primary-list{
    width: 100%;
    border: 2px solid white;
    padding: 1em;
    margin: 1em;
    background-color: rgba(200, 200, 200, 0.3);
}

.primary-list > li{
    color: white;
    font-size: 1.7em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.secondary-list > li{
    list-style-position: inside;
    font-size: 0.6em;
    margin-left: 0.5em;
}

@media screen and (max-width: 600px) {
    
    .primary-list > li{
        font-size: 1.2em;
        margin-left: 1em;
    }
}