.navbar-container{
    background-color: transparent;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.navbar-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 20%;
    text-decoration: none;
    color: rgb(151, 150, 150);
    font-weight: 600;
    font-size: 30px;
}

.navbar-container a:hover{
    background-color: rgba(50, 50, 50, 0.6);
}

.logo{
    animation: colors 5s infinite linear;
}

@keyframes colors {
    0%{
        color: red;
    }
    10%{
        color: orange;
    }
    20%{
        color: yellow;
    }
    30%{
        color: lime;
    }
    40%{
        color: green;
    }
    50%{
        color: cyan;
    }
    60%{
        color: blue;
    }
    70%{
        color: pink;
    }
    80%{
        color: violet;
    }
    90%{
        color:magenta;
    }
    100%{
        color: red;
    }
}
@media screen and (max-width: 950px) {
    a{
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    a{
        font-size: 15px;
    }
}