*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container section h1{
    color: white;
    font-size: 4em;
    font-weight: 600;
}

.container{
    
}
