*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header{
    color: white;
    font-size: 3em;
    letter-spacing: 10px;
    margin: 10px auto;
}

.data-container{
    height: 100vh;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph{
    color: white;
    text-align: justify;
    text-justify: inter-word;
    line-height: 25px;
    font-size: 20px;
    letter-spacing: 2px;
}
