.apps{
    background: url("../../backgrounds/forest.jpg");
    background-color: royalblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
}


.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70px;
    margin: 1em;
    font-size: 1.3em;
    background-color: transparent;
    outline: none;
    border: 3px solid yellow;
    transition-duration: 0.5s;
    color: white;
    text-decoration: none;
}

.link:hover{
    background-color: rgba(219, 223, 15, 0.8);
    box-shadow: 0 0 20px yellow;
    color: black;
}

@media screen and (max-width: 600px) {
    .link{
        transition-duration: 0s;
    }
}