.apps{
    background: url("../../backgrounds/forest.jpg");
    background-color: royalblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
}


.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70px;
    margin: 15px;
    font-size: 30px;
    background-color: transparent;
    outline: none;
    border: 3px solid yellow;
    transition-duration: 0.5s;
    color: white;
    text-decoration: none;
}

.link:hover{
    background-color: rgba(219, 223, 15, 0.8);
    box-shadow: 0 0 20px yellow;
    color: black;
}

.link:active{
    background-color: rgb(82, 83, 7);
}