.apps{
    background: url("../../backgrounds/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: royalblue;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
}